body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F0F0F0;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 20px;
}
div {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 5px solid #E9E9E9;
    padding-bottom: 10px;
}
body {
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th {
    background-color: #F0F0F0;
}
th, td {
    border-bottom: 1px solid #EAEAEA;
    padding: 10px;
}
table#main-content  td:nth-child(1) {
    width: 20%;
}
table#main-content img {
    width: 50%;
}
table#main-content input[type=text] {
    background-color: #F0F0F0;
    border: none;
    text-align: center;
    font-size: 12pt;
    border-radius: 3px;
    height: 30px;
    width: 30px;
}
/* couldn't figure out how to configure these tds using a single class on the 
   section tag like I did for the above table tag class */
tr.total-section td {
    border: none;
    font-weight: bold;
    text-align: right;
    padding-bottom: 0;
}
footer {
    padding-top: 16px;
    color: #646464;
}
table#main-content td:nth-child(5) {
    font-weight: bold;
}
@media(max-width: 1152px) {
    #main-content tbody {
      display: grid;
    }
    #main-content tr {
      display: contents;
    }
    #main-content th {
        display: none;
    }
    table#main-content td:nth-child(1) {
        padding: 0;
        display: flex;
        align-items: center;
        width: 200%;
        border: none;
    }
    #total-section input {
        display: contents;
    }
  }