body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F0F0F0;
    margin: 0 auto;
    width: 45%;
    margin-bottom: 20px;
}
div {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 5px solid #E9E9E9;
}
h1 {
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 18px;
    table-layout: fixed;
}
th {
    background-color: #F0F0F0;
}
th, td {
    text-align: left;
    border-bottom: 1px solid #EAEAEA;
    padding: 10px;
}
p {
    color: #646464;
    font-size: 14px;
}
footer {
    padding-top: 16px;
    text-align: center;
    color: #646464;
}
.middle {
    display: block;
    margin: 0 auto;
}
.field {
    border: none;
    padding: 9px;
    border-radius: 5px;
}
#add-to-cart-btn {
    background-color: #007AFE;
    color: white;
    width: 100px;
    cursor: pointer;
}
.select {
    background-color: #F0F0F0;
    padding: 9px;
    border-radius: 5px;
    margin-bottom: 18px;
}